<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>来了老弟</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="D:\PythonObject\ibaotu\templates\JQuery\jquery-3.3.1.js"></script>
    <script type="text/javascript" src="D:\PythonObject\ibaotu\templates\JavaScript\index.js"></script>
</head>
<body>
    <h2>请在下方输入包图网素材链接</h2>
    <div>
        <div contenteditable="true" class="edit-font font"></div>
        <button class="button" type="button ">提取</button >
    </div>
</body>
</html>